body {
    margin: 0;
    padding: 0;
    font-family: Cambo;
    
}
.titleTravel {
    margin: 0;
    position: absolute;
    height: 118px;
    width: 1282px;
    left: 5.75%;
    right: 27.82%;
    top: 280px;
    font-style: normal;
    font-weight: bold;
    font-size: 95px;
    line-height: 118px;
    text-align: center;
    color: #fff;
}

.header {
    background-image:linear-gradient(180deg, #80EBE3 0%, rgba(67, 207, 243, 0.5) 100%),url("../img/Background.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
}

.nav {
    position: absolute;
    top: 43px;
    left: 203px;
    display: flex;
    align-items: center;
    width: 50vw;
   
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 367px;
    white-space: nowrap;
    width: inherit;
    
}
.menu a, span{
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.dropDM
{
    width: 190px;
    height: 35px;
}
.selectProff {
    display: none;
    background: #fff;
    width: 153px;
    box-shadow: 0px 0px 11px 0px;
    border-radius: 8px;
    
}

.selectProff > a
{
    padding: 5px;
    text-indent: 14px;
    text-decoration: none;
    color: rgba(107, 107, 107, 0.774);
    display: block;
}
.selectProff > a:hover
{
    background-color: rgba(128, 128, 128, 0.548);
}

.dropDM:hover .selectProff
{
   display: block;
}

.BTNnav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 48px;
    border: 4px solid #43CFF3;
    border-radius: 8px;
    
   
}
.BTNnav:hover, .BTNnav:focus{
    background: linear-gradient(181.87deg, #43CFF3 7.02%, #04EDCC 246.31%);
    /* box-shadow: 0px 1px 40px #43CFF3; */
    
}

.arrow  {
    position: relative;
    left: 15px;
    bottom: 5px;
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	
	
}
.categores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 850px;
    height: 74px;
    left: 245px;
    top: 455px;
    border-radius: 10px;
}
.BTNcategores {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    
}
.BTNcategores:focus .departures {
    fill: #43CFF3;
}
.BTNcategores:focus .hotels {
    fill: #43CFF3;
}.BTNcategores:focus .experiences {
    fill: #43CFF3;
}
.searcher {
    display: flex;
    position: relative;
    left: 245px;
    top: 500px;
    justify-content: space-between;
    width: 1420px;
    
}
.selectTravel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 90px;
    width: 1000px;
    border-radius: 10px;
    
}

.BTNcta {
    height: 90px;
    width: 400px;
    border-radius: 10px;
    outline: none; /* Для синий ободки */
    border: 0;
    background: linear-gradient(191.78deg, #F1C933 81.52%, #FF8E00 127.11%);
    color: #1A4762;
    font-style: normal;
    font-size: 40px;
    line-height: 27px;
    user-select: none;
}
.arrowReverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between

}
.separator_ {
    width: 1px;
}
.reverse {
    transition: .5s;
}
.reverse:hover {
    transform: rotate(180deg);
}
section {
    width: 10px;
}

#selectFrom, .selectTo {
    width: 250px;
    color: #555555;
    font-weight: 600;
}

.selectTravel input {
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    height: 25px;
    border: none;
    

}

.selectTravel p {
    margin: 0;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 90px;
    text-align: center;
}

.calendar label {
    display: block;
    width: 59px;
    height: 50px;
    background: url("/img/Calendar.png") no-repeat;
    background-size: 59px 50px;
}

#datepicker {
    position: absolute;
    z-index: -1;
}

.checkbox {
    position: absolute;
    top: 7.5rem;
}

.checkbox_input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.checkbox_label {
    color: #fff;
    padding-left: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}
.checkbox_label::before {
    content: '';
    display: block;
    width: 30px;
    height: 28px;
    background: url("/img/Rectangle.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    
}

.checkbox_label::after {
    content: '';
    display: block;
    width: 30px;
    height: 28px;
    background: url("/img/chekedW.svg") no-repeat;
    -webkit-background-size: cover;
    background-size: 25px 25px;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 2;
    opacity: 0;
}

.checkbox_input:checked + .checkbox_label::after {
    opacity: 1;
}


.arrowDown {
    position: relative;
    top: 65%;
    left: 50%;
    display: block;
    background: url("/img/Down.png");
    width: 69px;
    height: 40px;
    transition: 3s;
    
}

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1276px;
}

.section_1_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1522px;
    height: 1028px;
}
.section_1_2 button {
    position: relative;
    top: 134px;
    
}

.section_1_2_title {
    height: 100px;
    width: 1036px;
    font-size: 89px;
    line-height: 100px;
    text-align: center;
    color: #555555;
}

.section_1_2_line {
    margin: 30px 0;
    background-color: #43CFF3;
    height: 6px;
    width: 15%;
    border-radius: 8px;
}

.section_1_2_subtitle {
    margin: 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    width: 580px;
    color: #555555;

}

.slidercountry {
    display: flex;
    justify-content: space-between;
    height: 483px;
    width: 1522px;
}

.slidercountry div {
    background-color: #04EDCC;
    height: 483px;
    width: 478px;
    
}

.humanWaterfall {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 155px 0;
    background: linear-gradient(182.43deg, #43CFF3 7.02%, #04EDCC 246.31%), url("/img/Waterfall.jpg") no-repeat 50% 50%;
    background-blend-mode: multiply;
    height: 453px;
    background-size: cover;

}

.humanWaterfall div {
    width: 925px;
    font-style: normal;
    font-weight: normal;
    font-size: 89px;
    line-height: 100px;
    text-align: center;

color: #FFFFFF;

}

.section_2{
    display: flex;
    justify-content: space-around;
    height: 850px;
    width: inherit;

    
    
}

.section_2 div {
    width: 726px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_2 div button{
    margin-top: 78px;
}

.styleinfous {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 571px;
    background: linear-gradient(182.43deg, #43CFF3 7.02%, #04EDCC 246.31%), url("/img/trustus.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    border: 1px solid #979797;
    

}

.section_trust_line{
    height: 10px;
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
}

.trust_title_text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 74px;
    margin: 37px;
}

.section_trust {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infous {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: space-around
}

.section_footer {
    height: 782px;
}
.section_footer_2 {
    position: relative;
    top: 140px;
    background-color: #F3F3F3;
    height: 643px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #555555;
}

.listmenu ul{
    list-style-image: url("/img/sape.png");
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
}

li a {
    text-decoration: none;
    color: #555555;
    display: block;
    margin: 30px;
}
li a:hover {
    color: #43CFF3;
}

.linehoritontal {
    background-color: #43CFF3;
    height: 419px;
    width: 2px;
}

.contacts {
    width: 436px;
    margin-left: 108px;
}

.contacts p {
    font-size: 14pt;
}

.contacts span {
    display: block;
}

.tilecontact {
    font-size: 32px;
    color: #109FC4;
    margin-bottom: 35px;
}

.subtitlecontact {
    color: #555555;
    font-size: 32px;
    font-weight: 500;
}

.formemal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

    /* INPUT */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: 100%;
    vertical-align: top;  
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-size: 15pt;
    box-sizing: border-box;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 90%;
  box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    color: #109FC4;
    font-size: 12pt;
}

.input--nariko {
    overflow: hidden;
    padding-top: 3em;
}

.input__field--nariko {
    width: 100%;
    background: transparent;
    opacity: 0;
    padding: 0.35em;
    z-index: 100;
    color: #000000;
}

.input__label--nariko {
    width: 100%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    text-align: left;
    color: #8E9191;
    padding: 0 0.5em;
}

.input__label--nariko::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4em;
    top: 100%;
    left: 0;
    background: #ffffff;
    border-top: 4px solid #555555;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__label-content--nariko {
    padding: 0.5em 0;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s, color 0.4s;
    transition: transform 0.4s, color 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--nariko:focus,
.input--filled .input__field--nariko {
    cursor: text;
    opacity: 1;
    -webkit-transition: opacity 0s 0.4s;
    transition: opacity 0s 0.4s;
} 

.input__field--nariko:focus + .input__label--nariko::before,
.input--filled .input__label--nariko::before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transform: translate3d(0, -3.3em, 0);
    transform: translate3d(0, -3.3em, 0);
}

.input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
.input--filled .input__label-content--nariko {
    color: #6B6E6E;
    -webkit-transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
    transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
}

.BTNSuscribe {
    background: linear-gradient(181.87deg, #43CFF3 7.02%, #04EDCC 246.31%);
    color: #fff;
    height: 48px;
    width: 240px;
    font-size: 20px;
    
}

.badges {
    margin-top: 45px;
    display: flex;
    width: 430px;
    justify-content: space-around;
}

.end_footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    background-color: #ccc;
}

.end_footer_menu a {
    padding: 15px;
    text-decoration: none;
    color: #555555;
    font-size: 23px;
    line-height: 26px;
    

}
.end_footer_menu a:hover {
    color: #fff;
}