body {
    margin: 0;
    padding: 0;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}
.titleTravel {
    margin: 0;
    position: absolute;
    height: 118px;
    width: 1282px;
    left: 5.75%;
    right: 27.82%;
    top: 280px;
    font-style: normal;
    font-weight: bold;
    font-size: 95px;
    line-height: 118px;
    text-align: center;
    color: #fff;
}

.header {
    background-image:linear-gradient(180deg, #80EBE3 0%, rgba(67, 207, 243, 0.5) 100%),url("../img/Background.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: inherit;
    height: 1080px;
}

.nav {
    position: absolute;
    top: 43px;
    left: 203px;
    display: flex;
    align-items: center;
    width: 50vw;
   
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 367px;
    white-space: nowrap;
    width: inherit;
    
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.BTNnav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 48px;
    border: 4px solid #43CFF3;
    border-radius: 8px;
    
   
}
.BTNnav:hover, .BTNnav:focus{
    background: linear-gradient(181.87deg, #43CFF3 7.02%, #04EDCC 246.31%);
    /* box-shadow: 0px 1px 40px #43CFF3; */
    
}

.arrow  {
    position: relative;
    left: 15px;
    bottom: 5px;
	border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	
	
}
.categores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 850px;
    height: 74px;
    left: 245px;
    top: 455px;
    border-radius: 10px;
}
.BTNcategores {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    
}
.BTNcategores:focus .departures {
    fill: #43CFF3;
}
.BTNcategores:focus .hotels {
    fill: #43CFF3;
}.BTNcategores:focus .experiences {
    fill: #43CFF3;
}
.searcher {
    display: flex;
    position: relative;
    left: 245px;
    top: 500px;
    justify-content: space-between;
    width: 1420px;
    
}
.selectTravel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 90px;
    width: 1000px;
    border-radius: 10px;
    
}

#continue {
    height: 90px;
    width: 400px;
    border-radius: 10px;
    outline: none; /* Для синий ободки */
    border: 0;
    background: linear-gradient(#F1C933, #FF8E00);
    color: #1A4762;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 27px;
    user-select: none;
}
.arrowReverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between

}
.separator_ {
    width: 1px;
}
.reverse {
    transition: .5s;
}
.reverse:hover {
    transform: rotate(180deg);
}
section {
    width: 10px;
}

#selectFrom, .selectTo {
    width: 250px;
    color: #555555;
    font-weight: 600;
}

.selectTravel input {
    color: #555555;
    font-size: 20px;
    font-weight: 600;
    height: 25px;
    border: none;
}

.selectTravel p {
    margin: 0;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 90px;
    text-align: center;
}

.calendar label {
    display: block;
    width: 59px;
    height: 50px;
    background: url("/img/Calendar.png") no-repeat;
    background-size: 59px 50px;
}

#datepicker {
    position: absolute;
    z-index: -1;
}

.checkbox {
    position: absolute;
    top: 7.5rem;
}

.checkbox_input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.checkbox_label {
    color: #fff;
    padding-left: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
}
.checkbox_label::before {
    content: '';
    display: block;
    width: 30px;
    height: 28px;
    background: url("/img/Rectangle.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    
}

.checkbox_label::after {
    content: '';
    display: block;
    width: 30px;
    height: 28px;
    background: url("/img/chekedW.svg") no-repeat;
    -webkit-background-size: cover;
    background-size: 25px 25px;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 2;
    opacity: 0;
}

.checkbox_input:checked + .checkbox_label::after {
    opacity: 1;
}


.arrowDown {
    position: relative;
    top: 65%;
    left: 50%;
    display: block;
    background: url("/img/Down.png");
    width: 69px;
    height: 40px;
    
}